<main>
  <header>
    <div class="bg-indigo-800 w-full h-15 flex justify-between flex-1 py-2 px-20">
      <div class="flex justify-center items-center gap-4 px-10">
        <fa-icon class="text-white" [icon]="phoneIcon"></fa-icon>
        <p class="text-white font-montserrat font-normal">+45 61616161616</p>
      </div>
      <div class="flex justify-center items-center gap-4 px-10">
        <fa-icon class="text-white" [icon]="facebookIcon" size="lg"></fa-icon>
        <fa-icon class="text-white" [icon]="githubIcon" size="lg"></fa-icon>
        <fa-icon class="text-white" [icon]="linkedinIcon" size="lg"></fa-icon>
      </div>
    </div>
    <div id="container" class="flex justify-evenly items-center my-4">
      <div class="max-h-20 h-20 max-w-20 w-20 rounded-full bg-indigo-400 flex justify-center items-center">
        <p class="text-slate-900 text-base font-semibold font-montserrat">E-BOOKS</p>
      </div>
      <app-search-bar class="w-fit"></app-search-bar>
      <app-nav-bar class="w-fit"></app-nav-bar>
    </div>
  </header>

  <section class="max-w-full mx-44">
    <router-outlet></router-outlet>
  </section>

  <section *ngIf="!!searchResults.length" class="max-w-full mx-44 my-8">

    <div
      class="min-h-1/4 w-full flex  flex-col justify-center items-center shadow-lg border border-solid border-indigo-300 rounded-lg py-8">
      <p class="font-palanquin text-xl">Search results</p>
      <div class="flex justify-center items-center w-full flex-wrap">
        <app-book-card *ngFor="let book of searchResults" [book]="book"></app-book-card>
      </div>
    </div>
  </section>

  <footer></footer>
</main>